* {
    box-sizing: border-box;
    min-width: 0px;
}
#container {
    display: flex;
    flex-direction: column;
    width: 250px;
    float: left;
    border: 1px solid red;
    background-color: beige;
}
#newbooks {
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:honeydew;
}
#mainTitle{
    display: flex;
    justify-content: center;
}